/*Fondo de la página*/
body{
    margin: 0;
    background-color: #E6CB55;
    
}

/*TituloPethouse*/
h1 {margin-top: -10px;
    background-color: #c09b7d;
    width: 100%;
    height: 100px;
    text-align: center;
    
    }

/*Menu*/
nav{
    width: 100%;
    height: 35px;
    background-color: #E1BD41;
    margin-top: -10px;
    margin-bottom: 40px;}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: justify;
    color: brown;
    padding: 10px;
    }

    /*Ponte en contácto. Acá lo puedes hacer*/
header {
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 22%;
    width: 98%;
    height: 70%;
    background-color: #E19249;
    margin-top: -30px;
    margin-left: 1%;
    }


/*Informacion de contacto*/
aside{
    background-color: purple;
    width: 29%;
    height: 450px;
    margin-left: 6px;
    margin-top: -10px;
    }
.contacto{
    background-color: #E1754C;
    height: 100%;
    width: 100%;
    }
div{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    }

h4{
    text-align: center;
    padding-bottom: 20px;
}

/*Correo Electronico y Formulario*/
main{
    border: 1px;
    border-color: #b9a1a4;
    border-style:dotted;
    background-color: #E19249;
    width: 67.4%;
    height: 430px;
    margin-top: -32%;
    margin-left: 32%;
    margin-bottom: -1%;
    
    
    
}
.contactoCorreo{
    background-color: #E0AF38;
    width: 100%;
    height: 100%;
    margin-top: -41.9px;
    margin-left: -20px;
    text-align: justify;
    }
h5, form{
    padding-left: 20px;
    padding-top: 10px;
}

/*Pie de pagina*/
footer{
    margin-bottom: -20px;
    width: 100%;
    height: 100%;
    background-color: white;
    }
.pie{
    text-align: center;
    background-color: #E6871F;
}
