/*Fondo de la página*/
body{
    background-color: aquamarine;
    
}

/*TituloPethouse*/
h1 {margin: 0%;
    border: 1px;
    border-color: green;
    border-style: dotted;
    background-color: yellow;
    border-width: 2px;
    width: 100%;
    height: 100px;
    text-align: center;
    }
/*Ponte en contácto. Acá lo puedes hacer*/
header {
border-color: purple;
border-style: solid;
border: 1px;
text-align: center;
justify-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
font-weight: 22%;
width: 100%;
height: 100%;
background-color: blue;

}
/*Menu*/
nav{    
    border: 20px;
    border-color: green;
    width: 100%;
    height: 400%;
    background-color: red;
    margin-top: 0px;}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
    color: aqua;
}


/*Informacion de contacto*/
aside{
    border: 5px;
    border-color: blue;
    border-style: solid;
    width: 29%;
    height: 400px;

}
.contacto{
    border: 2px;
    border-color: pink;
    border-style: dashed;
    background-color: brown;
}


main{
    border: 4px;
    border-color: green;
    border-style: solid;
    background-color: salmon;
    width: 65%;
    padding: 2% 2% 2% 2%;
    margin: -8% 0 0 30%;
    
    
}
.contactoCorreo{
    border: 3px;
    border-color: blue;
    border-style: groove;
    background-color: palegreen;
    box-sizing: border-box;
    padding: 1% 1% 2% 1%;
    margin: -3% 0 0 0%;
    }


/*Pie de pagina*/
footer{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 4px;
    border-style: dashed;
    border-color: black;
}
